<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="quicky.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <quicky.Properties.Settings>
            <setting name="LocTop" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="LocLeft" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Repositorys" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>PROGRAMS</string>
                        <string>GAMES</string>
                        <string>WEBLINKS</string>
                        <string>OS RELATED</string>
                        <string>SPECIAL</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SnapToEdges" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OnTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseonfocusLost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SnapToTaskbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MakeShortCutExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.exe</string>
                    </ArrayOfString>
                </value>
            </setting>
        </quicky.Properties.Settings>
    </userSettings>
</configuration>